* {
  box-sizing: border-box;
  font-family: cursive;
}
body {
  text-align: center;
}
.header-container {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 400px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.title{ 
  display: flex;
  align-items: center;
  gap: 10px;
}

h2 {
  padding: 4px;
  margin: 0px;
  color: #868686;
  color: rgb(250, 112, 178);
}